{foreach $type->methods as $method}


	/**
	{foreach $method->getFormatedArgs(TRUE) as $name => $argType}
	 * @param {$argType} ${$name}
	{/foreach}
	 * @return {$method->returnType}
	 */
	{$method->visibility} function {$method->name}({block #args|strip|trim}
		{foreach $method->formatedArgs as $name => $argType}
			{=ltrim($argType . ' ')}${$name}{sep}, {/sep}
		{/foreach}
	{/block})
	{
		throw new Nette\NotImplementedException;
	}

{/foreach}