{if $type->package}
namespace {$type->package->getFullName()};{/if}
{foreach $type->getUsedRootPackages() as $package}{first}
{/first}
use {$package};
{/foreach}
{if $type->hasCollections()}
use Doctrine\Common\Collections\Collection;
use Doctrine\Common\Collections\ArrayCollection;
{/if}