/**
 * @Entity
 */
class {$type->name}{if $type->extends} extends {$type->getRelativeName($type->extends)}{/if} {block #implements|strip|trim}
	{foreach $type->implements as $implements}
		{first}implements {/first}
		{$type->getRelativeName($implements)}
		{sep}, {/sep}
	{/foreach}
{/block}

{l}

{include 'Entity.attributes.latte'}
{include 'Entity.constructor.latte'}
{include 'Entity.properties.latte'}
{include 'Entity.methods.latte'}
{r}