{foreach $type->allMethods as $method}


	/**
	{foreach $method->formatedArgs as $arg}
	 * @param {$arg->type} ${$arg->name}
	{/foreach}
	 * @return {$method->returnType}
	 */
	{$method->visibility} function {$method->name}({block #args|strip|trim}
		{foreach $method->formatedArgs as $arg}
			{$arg->typeHint} ${$arg->name}{sep}, {/sep}
		{/foreach}
	{/block})
	{
		throw new Nette\NotImplementedException;
	}

{/foreach}